/* Write your CSS code here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-form-container {
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  width: 50%;
  padding: 24px;
}
.form-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 90px;
}
.main-heading {
  font-weight: bold;
  font-size: 34px;
  font-family: 'roboto';
  color: #ea580c;
}
.username {
  font-weight: bold;
  font-size: 13px;
  font-family: 'roboto';
  color: #475569;
  text-align: start;
}
.input {
  width: 100%;
  height: 30px;
  outline: none;
  margin: 3px;
  border: 1px #9aa5b1 solid;
  border-radius: 3px;
  margin-bottom: 4px;
}
.submit-button {
  height: 34px;
  width: 70px;
  border: none;
  border-radius: 4px;
  background-color: #ff0b37;
  color: #ffffff;
  margin: 9px;
}
.error-message {
  font-size: 9px;
  font-weight: bold;
  color: #ff0b37;
}
.another-response-button {
  height: 34px;
  width: 200px;
  border: none;
  font-size: 12px;
  border-radius: 4px;
  background-color: #ea580c;
  color: #ffffff;
  margin: 9px;
}
.response {
  font-weight: bold;
  font-size: 14px;
  color: #475569;
  font-family: 'roboto';
}
